.title {
    text-align: center;
    font-family: helvetica, monospace;
    font-size: xx-large;
    background: lightsteelblue;
    padding: 15px;
  }
  body {
    padding: 15px;
  }
  footer {
    text-align: center;
  }
.spacing {
    margin: 20px;
    align-content: center;
}
.leftButton {
    float: left;
    font-size: large;
    color: black;
    margin: 5px;
}
.optionButton {
    width: 400px;
    height: 30px;
    font-size: large;
    align-content: center;
}
.selected {
    color: pink;
}
.rightButton {
    float: right;
    font-size: large;
    color: black;
    margin: 20px;
}
.searchBar {
    margin: 20px;
    align-items: center;
    width: 75%;
}