<div class="row justify-content-center">
  <div class="col-md-4 register-game">
    <!-- form card register -->
    <button (click)='onBack()'>Cancel</button>
    <div class="card-body">
      <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="inputName">Title</label>
          <input class="form-control" type="text" formControlName="title" />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.title.errors?.required"
          >
            Title is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputPlatform">Platform</label>
          <input class="form-control" type="text" formControlName="platform" />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.platform.errors?.required"
          >
            Platform is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputGenre">Genre</label>
          <select
            class="custom-select form-control"
            (change)="updateGenre($event.target.value)"
            formControlName="genre"
          >
            <option value="">Choose...</option>
            <option *ngFor="let genre of genres" value="{{ genre }}"
              >{{ genre }}
            </option>
          </select>
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.genre.errors?.required"
          >
            Choose genre.
          </div>
        </div>

        
        <div class="form-group">
          <label for="inputRating">Rating</label>
          <select
            class="custom-select form-control"
            (change)="updateRating($event.target.value)"
            formControlName="rating"
          >
            <option value="">Choose...</option>
            <option *ngFor="let rating of ratings" value="{{ rating }}"
              >{{ rating }} <span>{{rating < 2 ? 'star' : 'stars'}}</span>
            </option>
          </select>
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.rating.errors?.required"
          >
            Choose rating.
          </div>
        </div>

        <div class="form-group">
          <label for="inputPublisher">Publisher</label>
          <input class="form-control" type="text" formControlName="publisher" />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.publisher.errors?.required"
          >
            Enter your publisher.
          </div>
        </div>
        <div class="form-group">
          <label for="inputRelease">Release</label>
          <input
            class="form-control"
            type="text"
            formControlName="release"
          />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.release.errors?.required"
          >
            Enter release year.
          </div>
        </div>
        
        <div class="form-group">
          <label for="inputStatus">Status</label>
          <select
            class="custom-select form-control"
            (change)="updateStatus($event.target.value)"
            formControlName="status"
          >
            <option value="">Choose...</option>
            <option *ngFor="let status of status" value="{{ status }}"
              >{{ status }}
            </option>
          </select>
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.status.errors?.required"
          >
            Choose status.
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">
            Add Game
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- form card register -->
</div>
