<div class="title">
  <h1>Gamer Lobby</h1>
</div>
<div>
  <nav>
    <button class="leftButton" routerLink="/">Home</button>
    <button class="leftButton" routerLink="/add-player">Add Player</button>
    <button class="leftButton" routerLink="/players">View Players</button>
    <button class="leftButton" routerLink="/join-game/:id">Join Game</button>
    <button class="leftButton" routerLink="/add-game">Add Game</button>
    <button class="leftButton" routerLink="/games">View Games</button>
  </nav>
  <br><br>
  <router-outlet></router-outlet>
  
</div>
<footer style="bottom: 0px; width: 100%;">
  <p><a style="color:lightsteelblue;">Esther Kim (101125413) & Jezzica Mae Tan (101142271)</a></p>
</footer>