<div class="title">
  <h1>Gamer Lobby</h1>
</div>
<div>
  <nav>
    <button class="leftButton" routerLink="/add-player">Add Player</button>
    <button class="leftButton" routerLink="/players">View Player</button>
    <button class="leftButton" routerLink="/join-game/:id">Join Game</button>
    <button class="rightButton" routerLink='/admin-login'>Login</button>
  </nav>
  <br><br><br><br>
  <router-outlet></router-outlet>
  
</div>
<footer style="bottom: 0px; width: 100%;">
  <p><a style="color:lightsteelblue;">Esther Kim (101125413) & Jezzica Mae Tan (101142271)</a></p>
</footer>