<div class="container">
  <div class="row">
    <div class="inner-main">
      <h2 class="mb-4">User Profile</h2>
      <p><strong>username:</strong> {{ this.currentUser.username }}</p>
    </div>
  </div>
</div>
<div class="row" *ngIf="isAdmin">
    <button class="col-sm-4" (click)='changeTable("players")' [class.selected]="table == 'players'">Players</button>
    <button class="col-sm-4" (click)='changeTable("games")' [class.selected]="table == 'games'">Games</button>
</div>
<div *ngIf="table == 'players'">
  <button routerLink="/add-player">Add Players</button>
  <app-players></app-players>
</div>

<div *ngIf="table == 'games'">
    <button routerLink="/add-game">Add Games</button>
    <app-games></app-games>
  </div>
